<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="navbar-brand" href="#">      <strong style="color: #ffffff; padding-left: 40px;font-weight:bold;"><i>Shopfy</i></strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
   
      <nav class="navbar navbar-light bg-success">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>

      <button class="btn btn-outline-light my-2 my-sm-0 " type="submit" style="margin-left: 1%;">
        Notifications <span class="badge badge-danger">4</span>
  
      </button>

      <button [routerLink]="['/cart']" class="btn btn-outline-success my-2 my-sm-0 " type="submit" style="margin-left: 1%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" color="#ffffff" height="28" fill="currentColor"
        class="bi bi-cart-check" viewBox="0 0 16 16">
        <path
          d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
        <path
          d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
      </svg>
  
      <div class="badge bg-danger">{{totalItemNumber}}</div>
  
      </button>

  
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 20px;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Mens Fashion</a>
            <a class="dropdown-item" href="#">Ladies fashion</a>
            <a class="dropdown-item" href="#">Children</a>
          </div>
        </li>
      </ul>
   
   
  
    </div>
  </nav>
</header>

