<ng-container *ngIf="true" >
<div class="card-table" style="border-color: black; align-items: center;">
    <div class="card-product" style="max-width: 1000px;border-color: black;">
        <div style="border-color: black;"><table class="table table-responsive" style="border-color: black;">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products, let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.title}}</td>
                    <td><img src="{{item.image}}" style="width: 120px;" alt=""></td>
                    <td>{{item.description}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.total}}</td>
                    <td><button class="btn btn-danger"  (click)="removeProduct(item)" ><i class="fas fa-trash"></i>Delete</button></td>

                </tr>
            </tbody>
        </table>
    </div></div>
</div>

</ng-container>


<ng-container *ngIf="false">
<div class="container">
    <div class="card">
        <h4 class="card-title">My Cart</h4>
    </div>
    <div class="center">
        <img src="https://img.freepik.com/premium-vector/shopping-cart-with-cross-mark-wireless-paymant-icon-shopping-bag-failure-paymant-sign-online-shopping-vector_662353-912.jpg" alt="" style="height: 250px; width: 220px;" >
        <h5>Your cart is empty</h5>
        <h6>Add item to it now</h6>
        <br>

        <button class="btn btn-primary">Shop Now</button>
    </div>
</div>
</ng-container>
