.card{
    padding: 25px;
    margin: 25px;
    height: 60vh;
    border:1px solid rgb(255, 255, 255);
    border-radius: 50px;


}
.content{
    margin-top: 50px;
    padding: 20px;
    border-radius: 50px;

}
.center{
    top: 50%;
    left:50%;
    transform: translate(-45%, -45%);
    text-align: center;
    position: absolute;
}


.center img{
    color: inherit;
    border: none;
    outline: none;
    width: 200px;
    height: 220px;
    text-decoration: none;
    margin: 20px 0px;
}
.card-table{
    display:flex;
    min-width: none;
    position: relative;
    word-wrap: break-word;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .25rem;
    flex-direction: column;
}
.center .btn{
    margin-top: 25px !important;
    font-size: 15px !important;
    font-weight:400;
    padding: 10px 70px;
    border-radius: 3px !important;
}

