

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
        <div class="card col-md-3">
            <img src="{{item.image}}" alt="">
            <h5 class="itemdata" >{{item.title}}</h5>
            
            <p class="itemdata">{{item.description}}</p>
            <hr>
            <p><strong>Price:</strong>${{item.price}}</p>
            <p>{{item.category}}</p>
     
            <button type="button" class="btn btn-outline-success"  (click)="addtoCart(item)">
                Add to cart<span class="badge badge-danger" style="margin-left:5px;">New</span>

            </button>






        
        </div>
    </ng-container>
    </div>
</div>