.cart-top{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(253, 253, 253);
    background-clip: border-box;
    position: relative;
    flex-direction: column;
    border: 1px solid black;
    border-radius: .25rem;
    padding: 15px;
}
.card-title{
    color: rgb(5, 60, 223);
}

.itemdata{
    white-space: 
    nowrap;overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

.btn{
    border-radius: 24px;;
}
.card{
    padding: 20px;
    margin: 30px;
    border-radius: 22px;
    border-color: rgb(187, 230, 217);
}

.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;

}

.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);


}